304 Not Modified Doesn't Return Cache-Control Header.

Detailed in [RFC2616](https://tools.ietf.org/html/rfc2616#page-63):

> The response MUST include the following header fields:
>- Date, unless its omission is required by section 14.18.1
>
>If a clockless origin server obeys these rules, and proxies and clients add their own Date to any response received without one (as already specified by [RFC 2068], section 14.19), caches will operate correctly.
>
>- ETag and/or Content-Location, if the header would have been sent
>in a 200 response to the same request
>- Expires, Cache-Control, and/or Vary, if the field-value might
>differ from that sent in any previous response for the same
>variant

Detailed in [RFC7232](https://tools.ietf.org/html/rfc7232#section-4.1):

> The server generating a 304 response MUST generate any of the
   following header fields that would have been sent in a 200 (OK)
   response to the same request: Cache-Control, Content-Location, Date,
   ETag, Expires, and Vary.

Since RFC7232 obsoletes RFC2616, the API needs to be updated to return the `Cache-Control` header on `304 Not Modified` responses, even if it does *not* differ from that sent in any previous response for the same resource.